ACTION!="add|change", GOTO="bt-kbd_end"

SUBSYSTEM=="input", ATTRS{phys}=="00:1b:10:00:2a:ec", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/mag/.Xauthority", RUN+="/bin/sh -c 'echo /home/mag/bin/bt-kbd.sh | at now'"

LABEL="bt-kbd_end"
