ACTION!="add|change", GOTO="bt-kbd_end"

SUBSYSTEM=="input", ATTRS{name}=="ThinkPad Compact Bluetooth Keyboard with TrackPoint", TAG+="systemd", ENV{SYSTEMD_WANTS}="bt-kbd.service"

LABEL="bt-kbd_end"
